/*
 * Cement jAlbum Skin Rel. 1.3.5 (c) Pierre M. 2013-2015
 *
 * Combined style sheet for the index pages and the slide pages, with classes that are common to both styles
 */
* {
	margin: 0px;
	padding: 0px;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 0;
}
img {
	border: none;
}

a:link, a:visited, a:active {
	text-decoration: none
}
a:hover {
	color: red;
}

/*
 *   Cement style sheet
 */

/* Structure */

#content {
	width: 90%;
	margin: auto;
}

/* Decoration */

/* Header */
#header {
	border-width: 1px;
	border-style: solid;
	padding: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font-size: ${albumTitleFontSize}pt;
	font-weight: ${albumTitleFontWeight};
	display: inline;
	padding-left: 20px;
	padding-right: 20px;
}

#galleryCommentsDiv {
	padding: 20px;
	border-width: 1px;
	border-style: dotted;
	margin-bottom: 20px;
	font-size: smaller;
}

.galleryComments {
<ja:if test="<%= !showGalleryComments %>">
	display: none;
</ja:if>
}

/* Folders & Images */
a h4 {
	margin: 0;
	padding-top: 2px;
	padding-bottom: 32px;
	font-size: 10pt;
	font-weight: normal;
	text-align: center;
}

.rating-overlay,
.folder-overlay,
.video-overlay {
	position: absolute;
	top: 5px;
	left: 5px;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.rating-overlay {
	font-size: 12px;
	top: 5px;
	left: 5px;
}

.video-overlay {
	font-size: 200%;
	left: 5px;
	bottom: 10%;
}

.folder-overlay {
	font-size: 200%;
	left: 5px;
	top: 5px;
}

.folder {
	text-align: center;
}

.folderplaceholder {
	font-size: <%= 0.7 * maxThumbWidth %>px;
	color: grey;
}

.disabled {
	color: grey;
}

/* Folders only */
.anchorfolder {
	position: relative;
	vertical-align: middle;
/*	color: brown;*/
}

/* Images only */
a.imageLink {
/*	color: red;*/
}

.fileMeta {
	display: none;
}

/* Footer */
#footer {
	margin-top: 20px;
	text-align: center;
}

.creditlink {
	font-size: 8pt;
	padding-top: 8px;
	display: block;
}

/* Layout helper classes
 */
#container {
	width: 100%;
	margin: 0 auto;
}
.item   {
	margin-bottom: -8px;
	width: ${maxThumbWidth}px;
}
.gigante {
	width: <%= maxThumbWidth * 3 %>px;
}
<%= make_cement_widths() %>

/* Fancybox helper classes
 */
.fancybox-wrap-video {
	width: 80% !important;
}

/* Texts under images...
 * If mode=playful, no text under image for nicer experience.
 */
.thumbText {
	padding: 2px 0px 2px 2px;
}
.imageLink,
.thumbTitle,
.thumbComment,
.thumbExif,
.imageTitle,
.imageComment,
.imageExif {
	font-weight: normal;
	font-size: 8pt;
}
.thumbTitle,
.thumbComment,
.thumbExif,
.imageLink {
	display: inline-block;
}
.imageLink {
	font-size: 8pt;
}
.thumbTitle {
	font-weight: bolder;
	font-size: 0.9em;
<ja:if test="<%= thumbTextContent == "comment" || thumbTextContent == "none" || metafizzyTool == "playful" %>">
	display: none;
</ja:if>
}
.thumbComment {
	font-size: 7pt;
<ja:if test="<%= thumbTextContent == "title" || thumbTextContent == "none" || metafizzyTool == "playful" %>">
	display: none;
</ja:if>
}
.thumbExif {
	font-size: 7pt;
	line-height: 1.2em;
<ja:if test="<% !thumbExif || metafizzyTool == "playful" %>">
	display: none;
</ja:if>
}

.rating-stars {
	color: gold;
}
/* Color rotation of anchors and header/footer/comment frames
 */
<%= make_raindow_styles() %>

/* Forkit Curtain
 */
.forkit-curtain {
	z-index: 1;
}
.close-button {
	right: 0;
}
/* Form elements
 */
.left-label {
	padding-right: 10px;
}
fieldset {
	width: 70%;
	margin: 10px auto 0px auto;
	border: none;
	text-align: left;
	line-height: 2em;
}
fieldset legend {
	font-size: larger;
	font-weight: bolder;
	margin-left: -10px;
}
fieldset label {
	padding-left: 10px;
}

/* clearfix */
#container:after {
  content: ' ';
  display: block;
  clear: both;
}

nav {
	display: inline-block;
}

.fancyblurr {
  -webkit-filter: blur(6px);
/*  -webkit-filter: saturate(0%);*/ /*remove to turn background black and white on fancybox */
  opacity: 0.65;
  filter: alpha(opacity=65);
}

<ja:if test="${useDesign}">
.item img {
	border-radius: 8px 8px 0px 0px;
	width: 100%;
}
.item {
	font-size: 13px;
	font-weight: bold;
	display: block;
	border-radius: 10px 10px 8px 8px;
	margin: 10px;

	box-shadow: 1px 1px 3px #ccc;
	border: 1px solid #ccc;
}

#container {
	margin: auto;
}

#header {
	border-style: none;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
	text-align: center;

	box-shadow: 2px 2px 3px #aaa;
}

.thumbText {
	background-color: white;
	padding: 5px 10px 8px 10px;
	margin-bottom: 0px !important;
	border-radius: 0px 0px 8px 8px;
}

.thumbComment {
	border-bottom: 1px solid #eee;
	padding: 4px 0;
	margin-bottom: 4px;
	width: 100%;
}

.thumbTitle {
	margin-bottom: 4px;
}

 <%
 	// Custom background image as specified in UI (see also Base skin. Thanks Laza !)
	String photographerImage = "";
	if ( photographerPic != void && photographerPic.length() > 0 )
	            photographerImage = urlEncode(photographerPic); 
	
 %>

.thumbPhotograph {
	float: left;
	width: 30px;
	min-height: 30px;
	margin-right: 4px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	background-image:url(${photographerImage});
	background-size: 30px 30px;
	background-repeat: no-repeat;
}

.imagePhotograph {
	display: none;
}

</ja:if>